@model Introconduit1.Models.RegisterViewModel
@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Books", "Account", FormMethod.Post, new { id = "submitForm" }))
{
    <fieldset>
        <legend>Registration Form</legend>
        @*<ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { maxlength = 50 })
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextAreaFor(m => m.Address, new { maxlength = 200 })
                @Html.ValidationMessageFor(m => m.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.MobileNo)
                @Html.TextBoxFor(m => m.MobileNo, new { maxlength = 10 })
                @Html.ValidationMessageFor(m => m.MobileNo)
            </li>
        </ol>*@
        <button type="button" id="btn1" name="Command" value="Book1">Purchase Link</button>
        <button type="button" id="btn2" name="Command" value="Book2">Purchase Link</button>
        <button type="button" id="btn2" name="Command" value="Book3">Purchase Link</button>
        <button type="button" id="btn3" name="Command" value="Cancel" onclick="$('#submitForm').submit()">Cancel (Server Side)</button>
    </fieldset>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
